{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>PASSport Academy</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-digimedia-v1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
<!--

TemplateMo 568 DigiMedia

https://templatemo.com/tm-568-digimedia

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->



  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="assets/images/logo-v1.png" alt="">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Ana səhifə</a></li>
              <li class="scroll-to-section"><a href="#about">Haqqımızda</a></li>
              <li class="scroll-to-section"><a href="#services">Xidmətlərimiz</a></li>
              <li class="scroll-to-section"><a href="#portfolio">Tələbələr</a></li>
              <li class="scroll-to-section"><a href="#blog">Bloq</a></li>
              <li class="scroll-to-section"><a href="#contact">Əlaqə</a></li>
              <li class="scroll-to-section"><div class="border-first-button"><a href="#contact">Elə indicə konsultasiya!</a></div></li>
            </ul>        

            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h6>Xaricdə təhsil şirkəti</h6>
                    <h2>Biz daim ən yaxşı seçimlərə kömək edirik</h2>
                    <p>Biz 2019-cu ildən etibarən insanların xaricdə təhsil alması üçün bütün səylərimizi göstəririk. Bu sahədə olan təcrübəmizin və dəqiqliyimizin sübutu göstərdiyimiz nəticələrdir.</p>
                  </div>
                  <div class="col-lg-12">
                    <div class="border-first-button scroll-to-section">
                      <a href="#contact">Görüş təyin et</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'assets/images/main.jpg' %}" style="border-radius: 50%" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'assets/images/visa.jpg' %}" style="border-radius: 60%" alt="">
              </div>
            </div>
            <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="about-right-content">
                <div class="section-heading">
                  <h6>Haqqımızda</h6>
                  <h4>Nə iş görür PASSport Academy ?</h4>
                  <div class="line-dec"></div>
                </div>
                <p>
PASSport Academy təhsil üçün xaricə göndərən bir şirkətdir.
Şirkət, insanlara xaricdəki təhsil imkanları barədə məlumat verir.
PASSport Academy, öyrənməyə və təcrübə artırmağa nail olmaq istəyənlərə dəstək olur.
Şirkət, fərqli ölkələrdəki universitetlər, kolleclər və kurslar haqqında məlumat təqdim edir. PASSport Academy, <a rel="nofollow" href="http://paypal.me/templatemo" target="_blank">tələbələrə uyğun təhsil proqramları,</a> viza müraciətləri <a href="https://templatemo.com/contact" target="_blank">və yaşama dəstəyi</a> ilə yardım edir.</p>
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="100">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            100%<br>
                            <span><small>Xaricdə təhsil</small></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="{{ scholarship_students_percent }}">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            {{ scholarship_students_percent }}%<br>
                            <span><small>Təqaüdlü təhsil</small></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="100">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            100%<br>
                            <span>Zəmanət</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6>Bizim xidmətlərimiz</h6>
            <h4>PASSport Academy <em>təmin edir</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <span class="icon"><img src="{% static 'assets/images/service-icon-01.png' %}" alt=""></span>
                        Xarici universitetlərə qəbul
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="{% static 'assets/images/service-icon-02.png' %}" alt=""></span>
                        Təqaüdlü təhsil
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="{% static 'assets/images/service-icon-03.png' %}" alt=""></span>
                        Viza dəstəyi
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="{% static 'assets/images/service-icon-04.png' %}" alt=""></span>
                        Yaşama, işləmə dəstəyi
                      </div>
                    </div>

                  </div>
                </div> 
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>PASSport Academy, xarici universitetlərə qəbula 100% zəmanət verən təcrübəli bir şirkətdir.</h4>
                                <p>Bizim məqsədimiz tələbələrə arzu etdikləri xarici universitetlərdə təhsil almaq imkanını təmin etməkdir.</p>

                                <p>PASSport Academy olaraq, uzun illər ərzində inkişaf etmiş məlumat və münasibətlərimiz sayəsində tələbələrimizə 100% qəbul zəmanəti veririk.

Əməkdaşlarımız tələbələrin təhsil arzularını anlamaq üçün onlarla bire-bir görüşlər edir və onlara uyğun universitetləri seçməkdə kömək edir.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/images/services-image.jpg' %}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>PASSport Academy, real təqaüd qazanma imkanına kömək edən bir təhsil konsaltinq şirkətidir.</h4>
                                <p>Bizim missiyamız tələbələrə təqaüd proqramlarından faydalanmaq üçün gərəkli məlumat və dəstəyi verməkdir.

PASSport Academy təqaüd proqramları barədə ətraflı məlumat təqdim edir və tələbələri bu proqramlara uyğunlaşmaq üçün rəhbərlik edir.

Tələbələrimizi, onların akademik bacarıqlarını və maraqlarını diqqətə alaraq, uyğun təqaüd proqramları və fərdi müraciət prosesləri barədə məsləhət və məlumatlandırma ilə təmin edirik.</p>

                                <p>PASSport Academy, təqaüd müraciəti hazırlığından müraciət tarixləri ilə bağlı xüsusi məlumatların verilməsinə qədər tələbələrin hər addımında yanında yer alır.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/images/services-image-02.jpg' %}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>PASSport Academy, təqaüd proqramlarının yanı sıra visa dəstəyi də təqdim edən təhsil konsaltinq şirkətidir.</h4>
                                <p>Bizim əsas məqsədimiz tələbələrimizin xaricdə təhsil almaq üçün giriş vəsaitələrini təşkil etməklə, visa müraciəti prosesində dəstək olmaqdır.
Müraciət prosesində yaşanabilecək potensial problemləri öncədən təhlil edir və tələbələrimizi bu məsələlərə hazırlayırıq.
PASSport Academy ilə birgə, tələbələrimiz təhsil məqsədləri üçün lazım olan vizaları alarkən rahatlıq hissi və təhlükəsizlik hissi yaşayır.</p>

                                <p>Bizim ekspert kadromuz tələbələrimizi visa prosesindən başa vurmanın ən effektiv yolunu tapmaq üçün rəhbərlik edir.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/images/services-image-03.jpg' %}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>
PASSport Academy, təhsil məqsədləri ilə yanaşı, yaşama və işləmə üçün də dəstək göstərən təhsil konsaltinq şirkətidir.</h4>
                                <p>Bizim əsas amacımız tələbələrimizin xaricdə yaşama və işləmə proseslərini mümkün qədər səmərəli və effektiv şəkildə həyata keçirməsidir.

PASSport Academy, tələbələrimizə hədəfləri üzrə uyğun yaşama və iş imkanlarını təqdim edəcək məlumatlar və məsləhətlər verir.</p>

                                <p>PASSport Academy ilə birgə, tələbələrimiz yeni bir məkan tərəfdaşı olaraq yaşama və iş məqsədləri üçün dəstək alır və bu da onlara yeni bir mədəniyyət və təcrübələr dünyasında gələcək inkişaf üçün daha çox imkan yaradır.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="{% static 'assets/images/services-image-04.jpg' %}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>

                      </div>
                    </li>
                  </ul>
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div id="free-quote" class="free-quote">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6>Bizlə əlaqə qur</h6>
            <h4>Əlaqə vasitələrini daxil et, biz geri dönüş edəcəyik</h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-8 offset-lg-2  wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
          <form id="search" action="#" method="GET">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <fieldset>
                  <input type="web" name="web" class="website" placeholder="Your website URL..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-4 col-sm-4">
                <fieldset>
                  <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-4 col-sm-4">
                <fieldset>
                  <button type="submit" class="main-button">Göndər</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6>Bizim uğurlarımız</h6>
            <h4>Bəzi  <em>nəticələrimiz</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
      <div class="row">
        <div class="col-lg-12">
          <div class="loop owl-carousel">
            {% for student in students %}

            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="{{ student.pp.url }}" alt="">
                </div>
                <div class="down-content">
                  <h4>{{ student.profession }}, {{ student.won_university }}</h4>
                  <span>{{ student.won_country }}, {{ student.won_city }}</span>
                  <div>{{ student.name }} {{ student.surname }}</div>
                </div>
              </div>
              </a>  
            </div>


            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="blog" class="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="section-heading">
            <h6>Son yeniliklər</h6>
            <h4>Nəzər <em>yetir</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="blog-post">
            <div class="thumb">
              <a href="#"><img src="{% static 'assets/images/blog-post-01.jpg' %}" alt=""></a>
            </div>
            <div class="down-content">
              <span class="category">SEO Analysis</span>
              <span class="date">03 August 2021</span>
              <a href="#"><h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adelore
                Eiusmod Tempor Incididunt</h4></a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doers itii eiumod deis tempor incididunt ut labore.</p>
              <span class="author"><img src="{% static 'assets/images/author-post.jpg' %}" alt="">By: Andrea Mentuzi</span>
              <div class="border-first-button"><a href="#">Discover More</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="blog-posts">
            <div class="row">
              <div class="col-lg-12">
                <div class="post-item">
                  <div class="thumb">
                    <a href="#"><img src="{% static 'assets/images/blog-post-02.jpg' %}" alt=""></a>
                  </div>
                  <div class="right-content">
                    <span class="category">SEO Analysis</span>
                    <span class="date">24 September 2021</span>
                    <a href="#"><h4>Lorem Ipsum Dolor Sit Amei Eiusmod Tempor</h4></a>
                    <p>Lorem ipsum dolor sit amet, cocteturi adipiscing eliterski.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="post-item">
                  <div class="thumb">
                    <a href="#"><img src="{% static 'assets/images/blog-post-03.jpg' %}" alt=""></a>
                  </div>
                  <div class="right-content">
                    <span class="category">SEO Analysis</span>
                    <span class="date">24 September 2021</span>
                    <a href="#"><h4>Lorem Ipsum Dolor Sit Amei Eiusmod Tempor</h4></a>
                    <p>Lorem ipsum dolor sit amet, cocteturi adipiscing eliterski.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="post-item last-post-item">
                  <div class="thumb">
                    <a href="#"><img src="{% static 'assets/images/blog-post-04.jpg' %}" alt=""></a>
                  </div>
                  <div class="right-content">
                    <span class="category">SEO Analysis</span>
                    <span class="date">24 September 2021</span>
                    <a href="#"><h4>Lorem Ipsum Dolor Sit Amei Eiusmod Tempor</h4></a>
                    <p>Lorem ipsum dolor sit amet, cocteturi adipiscing eliterski.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6>Contact Us</h6>
            <h4>Get In Touch With Us <em>Now</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <div class="contact-dec">
                  <img src="{% static 'assets/images/contact-dec.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-5">
                <div id="map">
                  <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="636px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="fill-form">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="assets/images/phone-icon.png" alt="">
                          <a href="#">010-020-0340</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="assets/images/email-icon.png" alt="">
                          <a href="#">our@email.com</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="assets/images/location-icon.png" alt="">
                          <a href="#">123 Rio de Janeiro</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                      </fieldset>
                      <fieldset>
                        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                      </fieldset>
                      <fieldset>
                        <input type="subject" name="subject" id="subject" placeholder="Subject" autocomplete="on">
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>  
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="main-button ">Send Message Now</button>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>MÜəllif hüququ © 2023 PASSport Academy. Bütün hüquqlar qorunur.
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/js/animation.js' %}"></script>
  <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>

</body>
</html>